.iti.iti--allow-dropdown {
  width: 100%;

  input {
    width: 100%;
  }
}

.form-control,
.form-select {
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 20%);
  border: 0;
  height: calc(1.5em + 0.75rem + 10px);
  padding: 0.375rem 0.75rem;
}

form {
  label {
    color: black;
    font-size: 16px;
    margin-bottom: 0 !important;
  }
}