.advanced-patient-search {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select[multiple] {
    max-width: 150px;
  }

  .form-group {
    border-right: 1px solid #DDDDDD;
    margin-right: .5rem;
    padding-right: .5rem;


    &:last-of-type {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
  }
}