.applications-page {
  margin-top: -48px !important;

  .card {
    height: 100%;

    .card-body {
      display: flex;
      flex-direction: column;

      .modal-button-images {
        img {
          height: 180px;
        }
        overflow: hidden;
      }

      .actions {
        margin-top: auto;
      }
    }
  }
}