.applications-page {
  margin-top: -48px !important;

  .card {
    height: 100%;

    .card-body {
      display: flex;
      flex-direction: column;

      .modal-button-images {
        width: 100% !important;

        img {
          height: 220px;
        }
      }

      .actions {
        margin-top: auto;
      }
    }
  }
}