.applications-page {
  margin-top: -40px !important;

  .card {
    height: 100%;

    .card-body {
      display: flex;
      flex-direction: column;

      .modal-button-images {
        img {
          height: 250px;
          width: auto !important;
          border: 2px solid black;
        }
        overflow: hidden;
      }

      .actions {
        margin-top: auto;
      }
    }
  }
}